<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778529795978-2u52q8ut1dj1dp4m4jl01ga5eg3uqagd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778529795978-2u52q8ut1dj1dp4m4jl01ga5eg3uqagd</string>
	<key>API_KEY</key>
	<string>AIzaSyB0J7f1-JoIVO1GhZTBGVg5PPntU-IcVqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>778529795978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.absolutezero.fintech</string>
	<key>PROJECT_ID</key>
	<string>fintechhackathon-8f3ff</string>
	<key>STORAGE_BUCKET</key>
	<string>fintechhackathon-8f3ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778529795978:ios:f52fab3aa3c4c52fc6a273</string>
</dict>
</plist>